USE [master]
GO
/****** Object:  Database [QEQC02]    Script Date: 18/10/2018 14:10:31 ******/
CREATE DATABASE [QEQC02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QEQC02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QEQC02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QEQC02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QEQC02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QEQC02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QEQC02]
GO
USE [QEQC02]
GO
/****** Object:  User [QEQC02]    Script Date: 18/10/2018 14:10:31 ******/
CREATE USER [QEQC02] FOR LOGIN [QEQC02] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [QEQC02]
GO
/****** Object:  Table [dbo].[Caracteristicas]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caracteristicas](
	[IdCaract] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Pregunta] [varchar](100) NOT NULL,
	[FkCategoria] [int] NOT NULL,
 CONSTRAINT [PK_Caracteristicas] PRIMARY KEY CLUSTERED 
(
	[IdCaract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasCaracteristicas]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasCaracteristicas](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CaracteristicasCategorias] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasPersonajes]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasPersonajes](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PersonajesCategorias] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonajeCaracteristica]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonajeCaracteristica](
	[fkCaracteristica] [int] NOT NULL,
	[fkPersonaje] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[IdPers] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FkCategoria] [int] NOT NULL,
 CONSTRAINT [PK_Personajes] PRIMARY KEY CLUSTERED 
(
	[IdPers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranking]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fkUsuario] [varchar](50) NOT NULL,
	[InfoCoins] [bigint] NOT NULL,
 CONSTRAINT [PK_Ranking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contraseña] [varbinary](8000) NOT NULL,
	[EsAdministrador] [bit] NOT NULL,
	[Monedas] [bigint] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Caracteristicas]  WITH CHECK ADD  CONSTRAINT [FK_Caracteristicas_CaracteristicasCategorias] FOREIGN KEY([FkCategoria])
REFERENCES [dbo].[CategoriasCaracteristicas] ([ID])
GO
ALTER TABLE [dbo].[Caracteristicas] CHECK CONSTRAINT [FK_Caracteristicas_CaracteristicasCategorias]
GO
ALTER TABLE [dbo].[PersonajeCaracteristica]  WITH CHECK ADD  CONSTRAINT [FK_Personaje-Caracteristica_Caracteristicas] FOREIGN KEY([fkCaracteristica])
REFERENCES [dbo].[Caracteristicas] ([IdCaract])
GO
ALTER TABLE [dbo].[PersonajeCaracteristica] CHECK CONSTRAINT [FK_Personaje-Caracteristica_Caracteristicas]
GO
ALTER TABLE [dbo].[PersonajeCaracteristica]  WITH CHECK ADD  CONSTRAINT [FK_Personaje-Caracteristica_Personajes] FOREIGN KEY([fkPersonaje])
REFERENCES [dbo].[Personajes] ([IdPers])
GO
ALTER TABLE [dbo].[PersonajeCaracteristica] CHECK CONSTRAINT [FK_Personaje-Caracteristica_Personajes]
GO
ALTER TABLE [dbo].[Personajes]  WITH CHECK ADD  CONSTRAINT [FK_Personajes_PersonajesCategorias] FOREIGN KEY([FkCategoria])
REFERENCES [dbo].[CategoriasPersonajes] ([ID])
GO
ALTER TABLE [dbo].[Personajes] CHECK CONSTRAINT [FK_Personajes_PersonajesCategorias]
GO
ALTER TABLE [dbo].[Ranking]  WITH CHECK ADD  CONSTRAINT [FK_Ranking_Usuarios] FOREIGN KEY([ID])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Ranking] CHECK CONSTRAINT [FK_Ranking_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[EliminarCaract]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarCaract]
@idCaract int
	
AS
BEGIN
	
	delete from Caracteristicas 
	where IdCaract=@idCaract
    
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCategoriaC]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[EliminarCategoriaC]
	@IDCat int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;			
			DELETE FROM CaracteristicasCategorias WHERE	CaracteristicasCategorias.ID = @IDcat
			--UPDATE Categorias SET Categorias.NombreCat = @NombreCat WHERE Categorias.IdCat = @IDcat;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCategoriaP]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarCategoriaP]
	-- Add the parameters for the stored procedure here
	@IDCat int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;			
			DELETE FROM PersonajesCategorias WHERE	PersonajesCategorias.ID = @IDcat
			--UPDATE Categorias SET Categorias.NombreCat = @NombreCat WHERE Categorias.IdCat = @IDcat;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPersonaje]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPersonaje]
	@id int
AS
BEGIN
 delete from Personajes where IdPers = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarUsuario]
	@id int
AS
BEGIN
	
delete from Usuarios
where id=@id

END
GO
/****** Object:  StoredProcedure [dbo].[InsertarCaracteristica]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertarCaracteristica]
@idCaract int, @Nombre varchar(50), @Pregunta varchar(100), @fkCategoria int
	
AS
BEGIN
	
	insert into Caracteristicas (IdCaract, Nombre, Pregunta, FkCategoria) values (@idCaract, @Nombre, @Pregunta, @fkCategoria)
    
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarCategoriaC]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertarCategoriaC]
@NombreCatCar varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
			INSERT INTO CaracteristicasCategorias(Nombre) VALUES (@NombreCatCar)
			
			--DELETE FROM Categorias WHERE Categorias.IdCat = @IDcat
			--UPDATE Categorias SET Categorias.NombreCat = @NombreCat WHERE Categorias.IdCat = @IDcat;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarCategoriaP]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarCategoriaP]
	-- Add the parameters for the stored procedure here
	@NombreCatPer varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
			INSERT INTO PersonajesCategorias(PersonajeCategorias.Nombre) VALUES (@NombreCatPer)
			
			--DELETE FROM Categorias WHERE Categorias.IdCat = @IDcat
			--UPDATE Categorias SET Categorias.NombreCat = @NombreCat WHERE Categorias.IdCat = @IDcat;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarPersonaje]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarPersonaje] 
@Nom varchar(50), @Cat int
AS
BEGIN
	insert into Personajes (Nombre, FkCategoria) values (@nom, @Cat);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarRanking]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarRanking] 
        @user varchar(50), @coins bigint
AS
BEGIN
       if exists(SELECT * FROM Usuarios WHERE Usuarios.Usuario = @user)
       insert into Ranking values(@user, @coins)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarUpdateRanking]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[InsertarUpdateRanking] 
        @user varchar(50), @coins bigint
AS
BEGIN
	if exists(SELECT * FROM Usuarios WHERE Usuarios.Usuario = @user)
		BEGIN
			UPDATE Ranking set fkUsuario = @user,infocoins = @coins;
		END
	ELSE
		BEGIN
			insert into Ranking values(@user, @coins)
		END
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarCaracteristica]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarCaracteristica]

@idCaract int, @Nombre varchar(50), @Pregunta varchar(100), @fkCategoria int
AS
BEGIN
	
	update Caracteristicas 
	set  Nombre= @Nombre, Pregunta= @Pregunta, FkCategoria= @fkCategoria
	where IdCaract=@idCaract;
    
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarCategoriaC]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ModificarCategoriaC]
@IDcatCar int, @NombreCatCar varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
			--INSERT INTO PersonajesCategorias(PersonajeCategorias.Nombre) VALUES (@NombreCatPer)
			
			--DELETE FROM PersonajesCategorias WHERE PersonajesCategorias.ID = @IDcatPer
			UPDATE CaracteristicasCategorias SET Nombre = @NombreCatCar WHERE CaracteristicasCategorias.Id = @IDcatCar;
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarCategoriaP]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ModificarCategoriaP]
	-- Add the parameters for the stored procedure here
	@IDcatPer int, @NombreCatPer varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
			--INSERT INTO PersonajesCategorias(PersonajeCategorias.Nombre) VALUES (@NombreCatPer)
			
			--DELETE FROM PersonajesCategorias WHERE PersonajesCategorias.ID = @IDcatPer
			UPDATE PersonajesCategorias SET PersonajesCategorias.Nombre = @NombreCatper WHERE PersonajesCategorias.Id = @IDcatPer;
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarPersonaje]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificarPersonaje]
	@id int ,@Nom varchar(10)
AS
BEGIN
update Personajes set Nombre = @Nom where IdPers = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarUsuario]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificarUsuario]
	
	@id int, @Usuario varchar(50) , @contraseña varchar(50), @esAdministrador bit
AS
BEGIN
	
 UPDATE Usuarios
SET  Usuario = @Usuario, Contraseña=@contraseña, EsAdministrador= @esAdministrador
WHERE id=@id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCaracteristica]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[ObtenerCaracteristica]
	@id int
AS
BEGIN
	select Nombre from Caracteristicas where IdCaract = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCategoriaC]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ObtenerCategoriaC]
@id int
as
begin
	if (@id != null)
	begin
		select * from CaracteristicasCategorias where ID = @id 
	end 
	else 
	begin 
		select * from CaracteristicasCategorias
	end
end
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCategoriaP]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ObtenerCategoriaP]
@id int
as
begin
	if (@id != null)
	begin
		select * from PersonajesCategorias where id = @id 
	end 
	else 
	begin 
		select * from PersonajesCategorias
	end
end
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPersonaje]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPersonaje]
	@id int
AS
BEGIN
	select Nombre from Personajes where IdPers = @id
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerRanking]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ObtenerRanking] 
as
begin
	select * from ranking order by infocoins desc
end
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuario]    Script Date: 18/10/2018 14:10:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ObtenerUsuario]
@nombre varchar(50), @password varchar(50) null, @accion varchar(50)
as
begin
	if (@accion = 'InicioSesion')
	begin
		select * from Usuarios 
		where Usuario = @nombre and Contraseña = HASHBYTES('SHA1', @password) 
	end 
	if (@accion = 'Registro')
	begin
		select * from Usuarios 
		where Usuario = @nombre
	end 
end
GO
USE [master]
GO
