
@{
    ViewBag.Title = "AboutEInstrucciones";
}


<a href=@Url.Action("Inicio","Home") class="btn btn-success">Atras</a>

<!DOCTYPE HTML>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title></title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: silver;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .recuadro {
            border: 1px solid black;
            width: 75%;
            display: inline-block;
            height: 75%;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class='recuadro' id="uno">

        <img src=~/Content/AboutInstrucciones.png border="0" width="100%" height="100%">

</body>
</html>