
@{
    ViewBag.Title = "QUIEN ES QUIEN | About";
}
<link rel="stylesheet" type="text/css" href="estilo.css" />
<h1>About</h1>

<p>
    Bienvenido a <em>Quien es Quien</em>, un juego desarrollado por:
                 <ul>
                     <li>Aldana Allones</li>
                     <li>Axel Geslin</li>
                     <li>Lisa Natan</li>
                     <li>Gonzalo Tujcher</li>
                 </ul>
    Esperamos que tu aventura jugando <em>Quien es Quien</em> sea tan divertida como fue su desarrollo!
    No olvides que podés reportar errores <a href="https://github.com/GonzaTuj/QuienEsQuien-Grupo2/issues">aquí</a>.
</p>
