
@{
    ViewBag.Title = "Index";
}

<h2>Elija su ABM</h2>

<br /><a href=@Url.Action("ABMCateg", "BOmenu") width="200" height="100">ABM Categorias</a> 
<br /><a href=@Url.Action("ABMPers", "BOmenu") width="200" height="100">ABM Personajes</a> 
<br /><a href=@Url.Action("ABMCaract", "BOmenu") width="200" height="100">ABM Caracteristicas</a> 