
@{
    ViewBag.Title = "Index";
}

<h2>Elija su ABM</h2>

<br /><a href=@Url.Action("ABMCarac", "BOmenuController") width="200" height="100">ABM Categorias</a> 
<br /><a href=@Url.Action("ABMCateg", "BOmenuController") width="200" height="100">ABM Personajes</a> 
<br /><a href=@Url.Action("ABMPers", "BOmenuController") width="200" height="100">ABM Caracteristicas</a> 