
@{
    ViewBag.Title = "Inicio";
}


<style>
    .h2 {
        FONT-FAMILY: 'Arial Rounded MT';
        color: dimgray;
    }

    .btn-success {
        padding: 20px 30px;
        BORDER: rgb(128,128,128) 1px;
        FONT-SIZE: 8pt;
        FONT-FAMILY: Verdana;
        BACKGROUND-COLOR: rgb(65, 221, 254);
    }
</style>

<a href=@Url.Action("Login","BackOffice") class="btn btn-group"> Login </a>
<a href=@Url.Action("Registro","BackOffice") class="btn btn-group"> Registrarse </a></br>

<center>
    <h2>Quien es quien</h2>

    </br>
    <a href=@Url.Action("About","Home") class="btn btn-success">Jugar VS PC </a></br>
    </br>
    </br>
    <a href=@Url.Action("About","Home") class="btn btn-success">Jugar Multiplayer </a></br>
    </br>
    </br>
    <a href=@Url.Action("AboutEInstrucciones","Home") class="btn btn-success">Instrucciones</a></br>
    </br>
    </br>
    <a href=@Url.Action("About","Home") class="btn btn-success">Sobre Nosotros</a></br>
</center>