@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster');

h1 {
	font-family: 'Lobster', cursive;
	text-align: center; 
	text-shadow: 4px 4px 4px #aaa;
}

p {
	font-family: 'LibreBaskerville', serif;
}




